{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <h5 align="center" class="mt-5">
        Участники образовательных мероприятий Университета 20.35 проходят диагностики, <br><br>
        в наборе которых имеются различные активности - тесты, игры, задания.<br><br>
        Активности в диагностиках направлены на изучение психологических, <br><br>
        личностных или поведенческих особенностей обучающегося.<br><br>
        Помимо этого участники оставляют текстовую рефлексию о посещаемых <br><br>
        ими мероприятиях и общаются в разных средах.<br><br>
</h5>

</div>
{% endblock %}
