{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <table class="table_col">
            <colgroup>
                <col style="background:#2c2c2c;">
            </colgroup>
            <tr>
                <th>Участник</th>
                <th>Роль</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>Харламов Александр</td>
                <td>Back-end developer</td>
                <td>sasha.kharlamov99@mail.ru</td>
            </tr>
        </table>
    </div>
{% endblock %}
